@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    * {
        color: #fff;
        -webkit-user-drag: none;
        font-family: 'Satoshi', sans-serif;
    }


}

@layer base {
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }

    i {
        font-size: 1rem;
        width: 1rem;
    }

}

@media only screen and (max-width: 1024px) {
    @layer base {
        h1 {
            @apply text-3xl;
        }
        h2 {
            @apply text-2xl;
        }
    }

    * {
        font-size: 70%;
    }
}

*:focus {
    outline: none;
}

button:hover {
    filter: brightness(1.1);
}

:root {
    --color-primary: #131313;
    --color-secondary: #1f2528;
    --color-tertiary: #26343a;
    --color-accent: #00889E;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scroll-style-horizontal::-webkit-scrollbar {
    height: 0.5rem;
    width: 100%;
}

.scroll-style-vertical::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
}

.scroll-style::-webkit-scrollbar-track {
    background: whtie;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 1rem;
}

input#slider[type='range'] {
    height: 1rem;
    -webkit-appearance: none;
    width: 100%;
}

input#slider[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 2rem;
    cursor: pointer;
    background: var(--color-secondary);
}

input#slider[type='range']::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
}