@tailwind base;
@tailwind components;
@tailwind utilities;

@layer reset {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    * {
        color: #fff;
        -webkit-user-drag: none;
        font-family: 'Satoshi', sans-serif;
    }
}

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
    h3 {
        @apply text-xl;
    }

    i {
        font-size: 1rem;
        width: 1rem;
    }

}

@media only screen and (max-width: 1024px) {
    * {
        font-size: 70%;
    }
}

*:focus {
    outline: none;
}

button:hover {
    filter: brightness(1.1);
}

:root {
    --color-primary: #131313;
    --color-secondary: #1f2528;
    --color-tertiary: #26343a;
    --color-accent: #00889E;

    --scrollbar-track: #333131;
    --scrollbar-thumb: #4b4b4b;
    --scrollbar-hover: #5a5a5a;
}

html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 0.875rem;
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--scrollbar-track);
}

*::-webkit-scrollbar-track-piece {
    background-color: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--scrollbar-thumb);
    border: 0.25rem solid var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-hover);
}

.scroll-style-horizontal::-webkit-scrollbar {
    height: 0.5rem;
    width: 100%;
}

.scroll-style-vertical::-webkit-scrollbar {
    width: 0.5rem;
    height: 100%;
}

.scroll-style::-webkit-scrollbar-track {
    background: white;
}

.scroll-style::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 1rem;
}