.properties-base {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5vw;
}

/** SEARCH - start **/
.properties-base > .search-wrapper {
    position: relative;
    border-radius: 0.6vw;
}

.properties-base > .search-wrapper > img {
    border-radius: 0.6vw;
    max-height: 12vw;
    width: 100%;
    object-fit: cover;
}

.properties-base > .search-wrapper > .search-data {
    position: absolute;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;


    width: 100%;
    height: 100%;

    z-index: 1;
    text-align: center;

    font-weight: 600;

    top: 0%;
    
}

.properties-base > .search-wrapper > .search-data > h1,
.properties-base > .search-wrapper > .search-data > p {
    text-shadow: 2px 2px 2px #000;
}

.properties-base > .search-wrapper > .search-data > .search-bar {
    display: flex;
    position: relative;
    margin-top: 1rem;
    align-items: center;

    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0.15vw;
    padding: 0 1rem;
    gap: 0.5rem;
}

.properties-base > .search-wrapper > .search-data > .search-bar > input {
    width: 25vw;
    height: 2.5rem;

    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background: none;
    border: none;
    @apply text-lg;
}

.properties-base > .search-wrapper > .search-data > .search-bar > i {
    color: rgba(0, 0, 0, 0.6);
}
/** SEARCH - end **/

/** properties list heading -start **/
.properties-base > .properties-heading-wrapper {
    margin: 0.3vw 0;
}

.properties-base > .properties-heading-wrapper > .heading {
    margin: 0.5vw 0;
}

.properties-base > .properties-heading-wrapper > .filters-wrapper {
    margin: 0.7vw 0 0.5vw 0;

    display: flex;
    flex-direction: row;
}

/* .properties-base > .properties-heading-wrapper > .filters-wrapper > div {
    margin-right: 0.5vw;
} */
/** properties list heading - end **/

/** PROPERTY - LISTING WRAPPER - start **/
.properties-base > .property-listing-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 0.7vw;

    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
/** PROPERTY - LISTING WRAPPER - end **/