.large-footer-modal-body > .large-footer-modal-body-data > img {
    height: 12vw;
    border-radius: 0.3vw;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property {
    display: flex;
    flex-direction: row;

    margin-top: 1.5vw;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .left-column {
    height: 14.5vw;
    width: 70%;
    border-right: 0.1px solid var(--light-border-color);

    overflow-y: auto;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .left-column > .property-name {
    font-size: 0.8vw;
    font-weight: 600;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .left-column > .property-info {
    margin-top: 0.5vw;
    width: 75%;

    font-size: 0.65vw;
    font-weight: 500;

    color: var(--light-border-color-8);
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .left-column > .gallery-image-wrapper {
    margin-top: 1vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 0.5vw;
  }
  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .left-column > .gallery-image-wrapper > img {
    border-radius: 0.3vw;

    width: 9vw;
    margin-right: 0.8vw;
  }


  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column {
    height: 14.5vw;
    width: 30%;

    padding-left: 1.3vw;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .title {
    font-size: 0.8vw;
    font-weight: 600;

    margin-bottom: 0.8vw;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .waypoint {
    background-color: var(--blue-color);
    color: var(--white-color);

    width: 100%;
    border-radius: 0.1vw;
    padding: 0.2vw 0;

    font-size: 0.7vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .waypoint > i {
    padding-top: 0.2vw;
    margin-right: 0.5vw;
  }
  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .waypoint > p {
    font-weight: 500;
  }

  .large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .tiles-wrapper {
    margin-top: 0.75vw;

    font-size: 0.5vw;
    letter-spacing: 0.4px;
    font-weight: 400;
    color: var(--white-color);

    width: 90%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    row-gap: 0.3vw;
}
.large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .tiles-wrapper > .each-tile {
    border-radius: 0.1vw;

    min-width: 2.5vw;
    width: fit-content;

    padding: 0.25vw;
    margin-right: 0.07vw;
    text-align: center;

    display: flex;
    flex-direction: row;

    background: linear-gradient(0deg, #313131, #313131), linear-gradient(0deg, var(--light-border-color-2), var(--light-border-color-2));
    border: 0.1px solid var(--light-border-color-2);
}

.large-footer-modal-body > .large-footer-modal-body-data > .data-details-property > .right-column > .tiles-wrapper > .each-tile > i {
    color: var(--light-border-color-6);
    font-weight: 700;
    margin-right: 0.15vw;
    padding-top: 0.15vw;
}

.large-footer-modal-body > .large-footer-modal-footer {
    padding: 0.55vw 1vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.large-footer-modal-body > .large-footer-modal-footer > button {
    border-radius: 0.1vw;

    width: fit-content;

    font-size: 0.5vw;
    font-weight: 600;

    padding: 0.15vw 0.5vw;
    text-align: center;

    display: flex;
    flex-direction: row;

    background: linear-gradient(0deg, #313131, #313131), linear-gradient(0deg, var(--light-border-color-2), var(--light-border-color-2));
    border: 0.1px solid var(--light-border-color-2);
}