/** NO NEW PROPERTIES - start **/

.no-new-properties-base {
    display: grid;
    place-items: center;
    place-content: center;
    height: 100%;
}

.no-new-properties-base > img {
    width: 3vw;

    margin-bottom: 0.8vw;
}

.no-new-properties-base > p {
    color: var(--white-color);
}

.no-new-properties-base > button {
    background-color: var(--blue-color);
    font-weight: 500;

    border-radius: 0.2vw;

    padding: 0.2vw 0.9vw;
    margin-top: 0.8vw;
}
/** NO NEW PROPERTIES - end **/

#description > .action-row > textarea {
    min-height: 10em;
}

.door-creation-container {
    gap: 1rem;
}

.door-creation-title {
    padding-bottom: 1rem;
    border-bottom: 0.1px solid var(--light-border-color-2);
}
.door-creation-title > .regular-button {
    display: flex;
    padding: .5rem !important;
    background-color: var(--blue-color);
    border-radius: 3px;
}

.door-remove-btn {
    margin-left: auto !important;
    display: flex;
    align-items: center;   
    
    border-radius: 3px;
    background-color: var(--blue-color);
    padding: .5rem;
}