.apartment-card-wrapper {
    width: 10.5vw;
    height: 15.5vw;

    margin-right: 1vw;
        
    border-radius: 0.2vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--light-border-color-2);

    display: flex;
    flex-direction: column;
}

.apartment-card-wrapper:nth-child(4n) {
    margin-right: 0;
}

.apartment-card-wrapper > img {
    height: 60%;
}

.apartment-card-wrapper > .details {
    display: flex;
    flex-direction: column;

    margin-top: 0.3vw;
    padding: 0.6vw;
}

.apartment-card-wrapper > .details > .heading {
    font-size: 0.7vw;
    font-weight: 600;
}

.apartment-card-wrapper > .details > .info {
    font-size: 0.6vw;
    font-weight: 500;
    color: var(--light-border-color-8);
}

.apartment-card-wrapper > .details > .location-tenants-info {
    display: flex;
    flex-direction: row;
    margin-top: 0.2vw;
}

.apartment-card-wrapper > .details > .location-tenants-info > p {
    font-size: 0.45vw;
    font-weight: 400;
    color: var(--light-border-color-8);
    
    padding-top: 0.1vw;
    margin-left: 0.3vw;
}

.apartment-card-wrapper > .details > .select-apt-button {
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: var(--white-color);

    border-radius: 0.2vw;
    width: 99%;

    font-size: 0.7vw;
    font-weight: 500;

    margin-top: 0.4vw;
    padding: 0.2vw;
}