    .selected-apartment-modal-dialog {
        height: 40vw;
        /* overflow-y: auto; */
    }
    .selected-apartment-large-footer-modal-body-data {
      padding: 1.5vw 2.2vw !important;
      height: 35.5vw !important;
      /* overflow-y: auto; */
    }
  
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment {
      display: flex;
      flex-direction: column;
    }

    /***  body **/
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > img {
       height: 9vw;
       border-radius: 0.5vw;
    }

    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper {
        height: 3vw;
        margin-top: 1vw;
        padding: 0.2vw 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* border: 0.1px solid red */
    }

    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .apt-details {
        display: flex;
        flex-direction: column;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .apt-details > .heading {
        font-size: 0.8vw;
        font-weight: 600;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .apt-details > .tenant-count {
        font-size: 0.5vw;
        font-weight: 500;
        color: var(--light-border-color-8);
        margin-top: 0.45vw;
    }

    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .search-actions {
        display: flex;
        flex-direction: row;

        height: 1.5vw;
        margin: auto 0;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .search-actions > button {
        padding: 0.2vw 0.6vw;
        border-radius: 0.15vw;

        background-color: var(--blue-color);
        font-size: 0.6vw;
        font-weight: 500;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .search-actions > button > i {
        margin-right: 0.3vw;
    }

    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .search-actions > .search-bar {
        position: relative;
        margin-right: 0.5vw;

        color: var(--light-border-color-6);
    }

    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .search-actions > .search-bar > input {
        border-radius: 0.15vw;
        width: 9vw;
        
        padding: 0.25vw 0.5vw;
        font-weight: 500;
        font-size: 0.6vw;
        color: var(--light-border-color-6);

        background: linear-gradient(0deg, #313131, #313131), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
        border: 0.95px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 3.8072197437286377px 3.8072197437286377px 0px rgba(0, 0, 0, 0.1);
    }
    
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .search-wrapper > .search-actions > .search-bar > i {
        position: absolute;
    
        color: var(--light-border-color-6);
        left: 88%;
        font-size: 0.6vw;
    
        padding: 0.4vw 0.2vw;
    }
  
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > hr {
        background-color: var(--light-border-color-2);
        height: 0.1px;
        border: none;

        margin-top: 0.4vw;
    }

    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .tenant-wrapper {
        height: 20.2vw;

        overflow-y: auto;        
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .tenant-wrapper > .tenant-row {
        display: flex;
        flex-direction: row;

        height: 3.5vw;

        border-bottom: 0.1px solid var(--light-border-color-2);
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .tenant-wrapper > .tenant-row > .img-wrapper {
        border-radius: 50%;

        width: 1.8vw;
        height: 1.8vw;

        background-color: var(--circle-color);

        margin: auto 0.6vw auto 0;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .tenant-wrapper > .tenant-row > .tenant-details {
        display: flex;
        flex-direction: column;

        margin: auto 0;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .tenant-wrapper > .tenant-row > .tenant-details > .tenant-name {
        font-size: 0.6vw;
        font-weight: 600;
    }
    .large-footer-modal-body > .large-footer-modal-body-data > .data-details-selected-apartment > .tenant-wrapper > .tenant-row > .tenant-details > .tenant-status {
        font-size: 0.5vw;
        font-weight: 500;
        color: var(--light-border-color-6);
    }
  
    
  /** footer **/
  .large-footer-modal-body > .large-footer-modal-footer-selected-apartment {
      background-color: var(--footer-color);
      height: 2.3vw;
  
      padding: 0.55vw 1vw;
  
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }
  .large-footer-modal-body > .large-footer-modal-footer-selected-apartment > input {
     border-radius: 0.15vw;
     width: 7.5vw;
     height: 1.21vw;
    
     padding: 0.22vw 0.5vw;
     font-weight: 500;
     font-size: 0.53vw;
     color: var(--light-border-color-6);

     background: linear-gradient(0deg, #313131, #313131), linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
     border: 0.95px solid rgba(255, 255, 255, 0.2);
     box-shadow: 0px 3.8072197437286377px 3.8072197437286377px 0px rgba(0, 0, 0, 0.1);
    }
  .large-footer-modal-body > .large-footer-modal-footer-selected-apartment > .add-button {
      border-radius: 0.1vw;
  
      width: fit-content;
  
      font-size: 0.5vw;
      font-weight: 600;
  
      padding: 0.17vw 0.5vw;
      margin-left: 0.5vw;
      text-align: center;
  
      display: flex;
      flex-direction: row;
  
      background-color: var(--blue-color);
  }