:root {
    --light-border-color-half-opaque: rgba(255, 255, 255, 0.05);
    --light-border-color: rgba(255, 255, 255, 0.1);
    --light-border-color-2: rgba(255, 255, 255, 0.2);
    --less-light-border-color: rgba(255, 255, 255, 0.3);
    --light-border-color-6: rgba(255, 255, 255, 0.6);
    --light-border-color-8: rgba(255, 255, 255, 0.8);
    --white-color: rgba(255, 255, 255, 1);

    --black-color: rgba(0, 0, 0, 1);
    --black-two-opaque-color: rgba(0, 0, 0, 0.2);
    --black-opaque-color-3: rgba(0, 0, 0, 0.3);

    --tile-color: rgba(36, 36, 36, 1);

    --footer-color: rgb(28, 28, 28);

    --blue-color: #0078D4;

    --green-color: rgba(34, 197, 94, 1);
    
    --red-color: rgba(220, 38, 38, 1);

    --circle-color: rgba(75, 75, 75, 1);
}