.realtor-menu-base {
    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.realtor-menu-base > .left-column {
    width: 20%;
    padding: 1.3vw 0.3vw;

    border-right: 0.1px solid var(--light-border-color);
    background-color: var(--light-border-color-half-opaque);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.realtor-menu-base > .right-column {
    width: 80%;
    height: 100%;
    padding: 1.3vw;
}


/** TAB WRAPPER - start **/
.tab-wrapper {
    margin: 0.35vw 0.2vw;
 }
 .tab-wrapper > .each-tab {
     display: flex;
     flex-direction: row;
 
     padding: 0.5vw;
     border-radius: 0.2vw;
     cursor: pointer;
 
     line-height: 1vw;
     vertical-align: middle;
 }
 
 .tab-wrapper > .each-tab > i {
     width: 2vw;
     padding-top: 0.05vw;

     text-align: center;
 }
 
 .tab-wrapper > .each-tab > p {
     font-size: 0.75vw;
 }

 .tab-wrapper > .each-tab-selected {
    background-color: var(--blue-color);
 }


 .tab-wrapper > .discord-wrapper {
    padding: 0.25vw;
    border-radius: 0.2vw;

    background-color: #333333;
    border: 1px solid var(--light-border-color);

    margin-top: 0.5vw;
    padding: 0.7vw 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: center;
 }

 .tab-wrapper > .discord-wrapper > .discord-emoji {
    width: 1.3vw;
 }

 .tab-wrapper > .discord-wrapper > .discord-text {
    margin: 0.75vw 0;
    text-align: center;
    width: 70%;
 }
 .tab-wrapper > .discord-wrapper > .discord-text > .bold-text {
    font-weight: 600;
 }
 .tab-wrapper > .discord-wrapper > .discord-text > .small-text {
    font-size: 0.6vw;
    opacity: 0.8;
    margin-top: 0.2vw;
 }

 .tab-wrapper > .discord-wrapper > .visit-discord-btn {
    border-radius: 6vw;
    color: var(--black-color);
    background-color: var(--white-color);

    width: fit-content;
    padding: 0.2vw 0.8vw;
    font-size: 0.7vw;
    font-weight: 600;
 }
 /** TAB WRAPPER - end **/